

.hidden {
    display: none;
}


.body {
    background-color: whitesmoke;
    font-family: math;

}

.main-header > h1 {
    background-color: white;
    margin: 0px;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
   
}

main {
    padding: 16px;
    text-align: center;
}
    
.nav-fitur {
    width: 50%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}
.nav-fitur > p {
    font-size: x-large;
    margin: 0px;  
    padding: 16px;
    text-align: center;
    
}
    


.section-header {
    padding: 16px;
    margin: 16px;
}
.section-image {
    background-image: url(../assets/persegi.webp);
    margin-bottom: 16px;
    width: 200px;
    height: 200px;
    justify-self: center;
    background-size: cover;
    background-position: center;
}

.section-image-panjang {
    background-image: url(../assets/persegipanjang.jpg);
    margin-bottom: 16px;
    width: 220px;
    height: 170px;
    justify-self: center;
    background-size: cover;
    background-position: center;
}

input {
    padding: 10px;
    margin: 10px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: rgb(48, 230, 48);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: green;
}

.reset-btn {
    background-color: #dc3545;
}

.reset-btn:hover {
    background-color: #c82333;
}




footer {
    background-color: white;
    font-size: small;
    margin: 0px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

